<p style="color: green"><%= notice %></p>
<%= render 'user', user: @user %> <!-- Updated to render 'user' partial -->
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>
  <div style="padding-top: 20px;">
    <%= button_to "Delete Account", @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>
